__pycache__/
*.py[cod]
*.pyd
*.log
*.db
*.sqlite
*.sqlite3
.env
.venv/
.uv/
*.egg-info/
.dist/
.build/
.cache/
.pytest_cache/
.mypy_cache/
.pyre/
.ruff_cache/
.vscode/
.idea/
.DS_Store
data/
*.duckdb
